/* Banana brick font  */

@font-face {
    font-family: "banana_brickregular";
    src:
      url("fonts/bbrick-webfont.woff2") format("woff2"),
      url("fonts/bbrick-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Custom properties */

  :root {
    --page-background-color: #f8f8f8;
    --font-color: #2a3565;
    --shadow-color: #e2bacb;
    --input-gap: 75px;
    --form-padding: 0px 200px 50px 50px;
  }

  /* Basic page styling */

body {
    background-color: hsl(0, 0%, 15%);
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--page-background-color);
    display: flex;
}

/* Sidebar */

.side-content {
    background: url("images/nebula.jpg");
    width: 40%;
    min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 240px;
  position: relative;
  top: 160px;
  background-color: hsla(0, 0%, 0%, 0.322);
}

.logo img {
  width: 200px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px var(--shadow-color);
}

.logo h1 {
  box-shadow: 0px 0px 15px #e2bacb;
  padding: 5px;
  position: absolute;
  top: 146px;
  font-family: "banana_brickregular", sans-serif, Arial, Helvetica;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #b54b4b;
  letter-spacing: 0.2rem;
  background-color: white;
  color: var(--font-color);
  border-radius: 30px;
}

/* Form  */

form {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 900;
  background-color: #f8f8f8;
  margin: 100px 0px;
  width: 60%; 
}

/* Form intro block */

.intro {
  padding: var(--form-padding);
  
}

.intro p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* Form inputs block */

.inputs {
  background-color: #ffffff;
  padding: var(--form-padding);
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 15px 15px -15px #868686;
}

.inputs label {
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  color: #3e3e3e;
}

input[type] {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #b6b6b6;
}

.inputs h2 {
  color: #3e3e3e;
  padding-top: 20px;
}

/* Inputs name, contact and passwords block */

.name, 
.contact,
.passwords {
  display: flex;
  gap: var(--input-gap);
}

.name > div, 
.contact > div,
.passwords > div {
  display: flex;
  flex-direction: column;
}

/* Create account button block  */

.inputs + div {
  padding: var(--form-padding);
  padding-top: 35px;
}

button {
  background-color: var(--font-color);
  color: #f1f0f0;
  padding: 12px 40px;
  margin-bottom: 35px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #939393;
}

button + p {
  font-weight: 100;
}

a {
  color: var(--font-color);
}