/* Xanmono font  */

@font-face {
  font-family: 'xanmonoregular';
  src: url('fonts/xanmono-regular-webfont.woff2') format('woff2'),
        url('fonts/xanmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    /* line-height: 1.5; normally in this CSS reset */
    line-height: 1.2; 
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Custom properties */

  :root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --logo-blue: #2a3565;
    --form-padding: 0px 200px 50px 50px;
  }

  /* Basic page styling */

body {
  background-color: hsl(0, 0%, 15%);
  min-height: 100vh;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f8f8f8;
  display: flex;
}

/* Sidebar */

.sidebar {
  background: var(--logo-blue) url("images/nebula.jpg");
  width: 35%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 250px;
  position: relative;
  top: 160px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.logo img {
  width: 230px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px #e2bacb;
  opacity: 0.9;
}

.logo h1 {
  padding: 5px 20px;
  position: absolute;
  top: 156px;
  font-family: "xanmonoregular", var(--system-ui);
  font-size: 1.9rem;
  text-shadow: 2px 2px 2px #b54b4b;
  color: var(--logo-blue);
  border-radius: 30px;
}

/* Form  */

form {
  font-family: var(--system-ui);
  background-color: #f8f8f8;
  margin: 100px 0px;
  width: 65%; 
}

/* Form intro block */

.intro {
  padding: var(--form-padding);
  
}

.intro p {
  color: #464646;
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 20px;
}

.intro span {
  font-style: italic;
}

/* Form inputs and labels block */

fieldset {
  --invalid: #f03d3d;
  --invalid-shadow: #f46c6c;
  --valid: #21ab21;
  --valid-shadow: #29d629;
  --input-shadow: 1px 1px 2px;

  border-style: none;
  background-color: #ffffff;
  padding: var(--form-padding);
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 15px 15px -15px #868686;
}

fieldset label {
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: #3e3e3e;
}

input[type] {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #E5E7EB;
  outline: none;
}

input[type="text"]:focus,
input[type="tel"]:focus {
  border: 1px solid #6262da;
  box-shadow: var(--input-shadow) #8b8be4;
}

input[type]::placeholder {
  color: #c8ccd5;
}

input[type="email"]:required:invalid:focus {
  border-color: var(--invalid);
  box-shadow: var(--input-shadow) var(--invalid-shadow);
}

input[type="email"]:required:valid:focus {
  border-color: var(--valid);
  box-shadow: var(--input-shadow) var(--valid);
}

input[type="password"]:required:invalid {
  border-color: var(--invalid);
}

input[type="password"]:required:invalid:focus {
  box-shadow: var(--input-shadow) var(--invalid-shadow);
}

input[type="password"]:required:valid {
  border-color: var(--valid);
}

input[type="password"]:required:valid:focus {
  box-shadow: var(--input-shadow) var(--valid);
}

fieldset h2 {
  color: #3e3e3e;
  padding-top: 20px;
}

/* Inputs name, contact and passwords block */

.name, 
.contact,
.passwords {
  display: flex;
  gap: 75px;
}

.name > div, 
.contact > div,
.passwords > div {
  display: flex;
  flex-direction: column;
}

/* Create account button block  */

fieldset + div {
  padding: var(--form-padding);
  padding-top: 35px;
}

button {
  background-color: var(--logo-blue);
  font-weight: 900;
  color: #f1f0f0;
  padding: 12px 40px;
  margin-bottom: 35px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #939393;
}

button:hover {
  cursor: pointer;
  background-color: #485bad;
}

button:active {
  background-color: #8c98cf;
}

button + p {
  font-weight: 100;
}

a {
  color: var(--logo-blue);
}