/* Banana brick font  */

@font-face {
    font-family: "banana_brickregular";
    src:
      url("fonts/bbrick-webfont.woff2") format("woff2"),
      url("fonts/bbrick-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Custom properties */

  :root {
    --font-color: #2a3565;
    --shadow-color: #e2bacb;
  }

  /* Basic page styling */

body {
    background-color: hsl(0, 0%, 15%);
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: beige;
    display: flex;
}

/* Sidebar */

.side-content {
    background: beige url("images/nebula.jpg");
    width: 40%;
    min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  position: relative;
  top: 160px;
  background-color: hsla(0, 0%, 0%, 0.322);
}

.logo img {
  width: 200px;
  padding: 20px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 15px var(--shadow-color);
}

.logo h1 {
  box-shadow: 0px 0px 15px #e2bacb;
  padding: 5px;
  position: absolute;
  top: 146px;
  font-family: "banana_brickregular", sans-serif, Arial, Helvetica;
  font-size: 2rem;
  /* text-shadow: 2px 2px 2px #b54b4b; */
  letter-spacing: 0.2rem;
  background-color: white;
  color: var(--font-color);
  border-radius: 30px;
}

/* Form  */

form {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 900;
  background-color: beige;
  margin: 100px 200px 100px 40px;
  width: 60%; 
}

form p {
  font-size: 1.5rem;
}

form > p {
  margin-top: 20px;
}

/* Name block */

.name {
  display: flex;
  flex-direction: column;
}

